Data/Art/Textures/EV_Acclamator_II-cm.dds
Data/Art/Textures/EV_Acclamator_leveler-cm.dds
Data/Art/Textures/Consular-class_LAC-cm.dds
Data/Art/Textures/Consular-class_cruiser-cm.dds
Data/Art/Textures/Dreadnaught_Carrier-cl.dds
Data/Art/Textures/ev_acclamator_supercruiser_antenna-cm.dds
Data/Art/Textures/Hero_Venator_cm.dds
Data/Art/Textures/Maelstrom-class_battlecruiser-cm.dds
Data/Art/Textures/Rep_Venator_Bridge_NonOFC_cm.dds
Data/Art/Textures/Rep_Venator_Bridge_wessex_cm.dds
Data/Art/Textures/Rep_Venator_Dron_cm.dds
Data/Art/Textures/Rep_Venator_Integrity_cm.dds
Data/Art/Textures/Rep_Venator_OCA_cm.DDS
Data/Art/Textures/Tarkin_Venator_cm.dds
Data/Art/Textures/Victory I-Frigate_cm.dds
modding resources/Patch2.meg
